#main_canvas_container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
 overflow-x: hidden;
}

#buttons_container {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
height: inherit;
justify-content: space-around;
-ms-align-items: center;
align-items: center;
max-width: 100px;
}
#description_text {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 999999;
  right: 8%;
  top: 7%;
  font-family: "Arial";
  line-height: 1.5rem;
}
.grid {
	display:grid;
	grid-template-columns:80px;
	grid-template-rows:80px 80px 80px 80px;
	grid-row-gap: 5px;
	z-index: 9999;
	position: absolute;
	left: 19px;
    top: 68px;
}
.button_container {
	width: 80px;
	height: 80px;
	border:2px solid #ccc;
	z-index: 99999;
	font-family: "Arial";
	font-size: 12px;
	cursor:pointer;

}

.buttons_operation{
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 20px;
  left: 0;
  justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  z-index: 999999;
}
.button-delete {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 110px;
  height: 35px;
  line-height: 35px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.6px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
  cursor:pointer;
  }
  .button-delete:hover {
     background: #DC143C;
     box-shadow: 0 15px 20px #FA8072;
     color: white;
     transform: translateY(-7px);
  }

.button-back {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*background-color: #DC143C;*/
  background-image: url(assets/Arrow-Back.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
  z-index: 999999;
  position: absolute;
  bottom: 20px;
  right: 40px;
  /*cursor:pointer;*/
  color: #1a1a1a;
    background-color: #ed1c5b;
    transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
}
.button-back:hover {
 /* transition: all 0.5s ease;
  transform: scale(1.3);*/
   transform: rotate(45deg);
        box-shadow: 0 0 1px 15px rgba(#8A3B58, 0.4),
        0 0 1px 30px rgba(#8A3B58, 0.1),
        0 0 1px 45px rgba(#8A3B58, 0.1);

}




.button-background {
	
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	

}
.container-main-button {
	width: inherit;
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}



#bg1 {
	
	background-image: url("assets/bg1.png");
}
#bg2 {
	
	background-image: url("assets/bg2.png");
}
#bg3 {
	
	background-image: url("assets/bg3.png");
}
#bg4 {
	
	background-image: url("assets/bg4.png");
}

.button_container:hover {
     background:#2EE47D ;
     opacity: .4;
     transition: all 0.5s ease;
     color: white;   
 }

  .button{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 2px 30px;
  margin: 8px 15px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #2EE47D inset, 0 0 0 0 #2EE47D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  cursor:pointer;
  font-size: 13px;
  z-index: 999999;
  position: absolute;

  }
 .button:hover {
 box-shadow: 0 0 10px 0 #2EE47D inset, 0 0 10px 4px #2EE47D;
  color: #2EE47D;
 }