
.flex {
  display: flex;
}
.flex-button {
  display: flex;
  align-items: center;

}
 .button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 110px;
  height: 35px;
  line-height: 35px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.6px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
  cursor:pointer;
  }
  .button:hover {
     background: #2EE59D;
     box-shadow: 0 15px 20px rgba(46,229,157,.4);
     color: white;
     transform: translateY(-7px);
  }


  .toggle-table,.toggle-cupboard,.toggle-cupboard-2{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 2px 30px;
  margin: 8px 15px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #2EE47D inset, 0 0 0 0 #2EE47D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  cursor:pointer;
  }
 .toggle-table:hover,.toggle-cupboard:hover,.toggle-cupboard-2:hover  {
 box-shadow: 0 0 10px 0 #2EE47D inset, 0 0 10px 4px #2EE47D;
  color: #2EE47D;
 }

#main_canvas_container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
 overflow-x: hidden;
}
#controls-container {
    position: absolute;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }
.button-container {
     	width: 150px;
     	height: 100%;
     	flex-direction: column;
     	align-items: center;
     }
.operation-conteiner-button {
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 20px;
  left: 0;
  justify-content: center;
}
.operation-conteiner-button .button:hover {
  background: #DC143C;
  box-shadow: 0 15px 20px #FA8072;
  color: white;
  transform: translateY(-7px);	
  }
